<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallucination Report</title>
    <link rel="stylesheet" href="/styleHaluPageExpert.css">
    <script src="/haluPageExpert.js" defer></script>
</head>
<body>
<div class="container">
    <aside>
        <div id="userIdDisplay" class="expert-id-display"></div>
        <button id="hexpert">Expert Panel</button>
        <button id="halurap">Hallucination Report</button>
        <button id="logout">Logout</button>
    </aside>
    <main>
        <header id="mheader">Hallucination Statistic</header>
        <section id="stats">
            <div class="stats-content">
                <div class="stats-section">
                    <div class="stats-label">stats:</div>
                    <div class="stats-label">- nr corecte: ???</div>
                    <div class="stats-label">- nr gresite: ???</div>
                </div>
            </div>
        </section>
        <section id="wheel">
            <div class="wheel-container">
                <div class="wheel">
                    <div class="wheel-segment segment-1"></div>
                    <div class="wheel-segment segment-2"></div>
                </div>
            </div>
        </section>
        <section id="legend">
            <div class="legend-item">
                <div class="legend-color" style="background-color: #8aa277;"></div>
                <div>GRESITE</div>
            </div>
            <div class="legend-item">
                <div class="legend-color" style="background-color: #405d27;"></div>
                <div>CORECTE</div>
            </div>
        </section>
        <footer id="footer"></footer>
    </main>
</div>
</body>
</html>