<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hallucination Report</title>
    <link rel="stylesheet" href="/styleHaluPageExpert.css">
    <script src="/haluPageExpert.js" defer></script>
</head>
<body>
<div class="container">
    <aside>
        <div id="userIdDisplay" class="expert-id-display"></div>
        <header id="hexpert">Hallucinations Report</header>
        <button id="back">Back to main</button> <!-- functioneaza cand adaug static la css si script, codul e facut cum a facut si bianca deci trb sa mearga-->
    </aside>
    <main>
        <header id="mheader">History of Halluciantions</header>
        <section id="haluList" class="haluList"></section>
    </main>
</div>
</body>
</html>