<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat History</title>

    <link href="./../static/styleHistoryPage.css" rel="stylesheet" type="text/css">
    <script src="./../static/historyPage.js"></script>
</head>

<body>
<div class="container">

    <main>
        <header>Your Chat History</header>

        <section class="history-list" id="historyList">
            <!-- Conversations will be loaded here -->
        </section>
    </main>

    <aside>
        <button id="newConversation">Start A New Conversation</button>
        <button id="history">Chat History</button>
        <button id="logout">Logout</button>
    </aside>

</div>
</body>
</html>