<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chatbot for Banking Assistance - Main Page</title>

    <!--    aici trebuie schimbat pathul !! -->
    <link href="styleMainPageClient.css" rel="stylesheet" type="text/css">
    <script src="mainPageClient.js"></script>
</head>

<body>
<div class="container">

    <main>
        <header id="welcome">What can I help you with?</header>

        <main class="conversation" id="chatBox">
            <!-- Questions and responses will be added here -->
        </main>
        <div class = "input-bar">
            <input type="text" id="questionInput" placeholder="Ask a question...">
            <button id="sendBtn">Send</button>
        </div>
    </main>

    <aside>
        <button id="newConversation">Start A New Conversation</button>
        <button id="history">Chat History</button>
        <button id="logout">Logout</button>
    </aside>


</div>


</body>


</html>


