<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Answers</title>
    <link rel="stylesheet" href="/styleMainPageExpert.css">
    <script src="/mainPageExpert.js" defer></script>
</head>
<body>
<div class="container">
    <aside>
        <header id="hexpert">Expert Panel</header>
        <button id="logout">Logout</button>
    </aside>
    <main>
        <header id="mheader">Review Pending Answers</header>
        <section id="qaList" class="qa-list"></section>
    </main>
</div>
</body>
</html>