body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background: linear-gradient(135deg, #3b3a30, #232727);
    color: #ecf0f1;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

aside {
    width: 250px;
    padding: 20px;
    background-color: #2a2c21;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expert-id-display {
    font-size: 20px;
    color: #8aa277;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Verdana';
    font-weight: bold;
}

#hexpert {
    padding: 10px;
    background-color: transparent;
    color: #8aa277;
    text-align: center;
    font-size: 32px;
    font-family: 'Verdana';
    font-weight: bold;
}

#back{
    background: transparent;
    color: #405d27;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Verdana';
    font-weight: bold;
    transition: color 0.2s;
}

#back:hover{
    transition-timing-function: ease-in-out;
    transition: color 0.2s;
    color: #8aa277;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#mheader {
    padding: 10px;
    background-color: transparent;
    color: #8aa277;
    text-align: center;
    font-size: 50px;
    font-family: 'Verdana';
    font-weight: bold;
    margin-bottom: 75px;
}

.qa-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.qa-block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border: 2px solid #8aa277;
    border-radius: 8px;
}

textarea {
    width: 97%;
    height: 80px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ecf0f1;
    border: 2px solid #8aa277;
    border-radius: 5px;
    padding: 8px;
    font-family: monospace;
    resize: none;
}

.hint {
    font-size: 12px;
    color: #bdc3c7;
    margin-top: 5px;
}