body {
    background: linear-gradient(135deg, #3b3a30, #232727);
    margin: 0;
    height: 100vh;
    overflow: hidden; 
}

.container {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: minmax(250px, 350px) 1fr;
    min-height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    box-sizing: border-box;
}

aside {
    width: 350px;
    grid-area: sidebar;
    border-right: 1px solid #405d27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.user-id-display {
    font-size: clamp(16px, 2vw, 20px);
    color: #8aa277;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Verdana';
    font-weight: bold;
}

#newConversation, #history, #logout {
    background: transparent;
    color: #405d27;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: clamp(24px, 3vw, 35px);
    font-family: 'Verdana';
    font-weight: bold;
    transition: color 0.2s;
}

#history {
    color: #8aa277;
}

#newConversation:hover, #logout:hover {
    color: #8aa277;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 20px;  
    height: calc(100vh - 40px);
    overflow-y: auto;
    margin-left: 40px;
}

header {
    padding: 10px;
    background-color: transparent;
    color: #8aa277;
    text-align: center;
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Verdana';
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
}

.history-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.conversation-card {
    flex: 0 0 30%;
    color: #8aa277;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #405d27;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.conversation-card:hover {
    transition: background-color 0.3s;
    background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            "sidebar"
            "content";
        grid-template-columns: 1fr;
    }
    
    aside {
        position: relative;
        height: auto;
        width: 100%;
        padding: 15px;
    }
    
    .history-list {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 24px;
    }
    
    .conversation-card {
        padding: 10px;
    }
}