body {
    background: linear-gradient(135deg, #3b3a30, #232727);
    margin: 0;
    overflow: hidden; 
    height: 100vh;
}

.container {
    display: grid;
    grid-template-areas:
        "sidebar content";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    height: 100vh; 
    width: 100vw;
    font-family: sans-serif;
    box-sizing: border-box;

}
.user-id-display {
    font-size: 20px;
    color: #8aa277;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Verdana';
    font-weight: bold;
}

aside {
    width: 350px;
    justify-content: center;
    grid-area: sidebar;
    border-right: 1px solid #405d27;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: 100vh;
    overflow: hidden;
}

#newConversation, #history, #logout {
    background: transparent;
    color: #405d27;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Verdana';
    font-weight: bold;
    transition: color 0.2s;
}

#newConversation {
    color: #8aa277;
}

#history:hover, #logout:hover {
    color: #8aa277;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header {
    padding: 10px;
    background-color: transparent;
    color: #8aa277;
    text-align: center;
    font-size: 50px;
    font-family: 'Verdana';
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: 40%;
    width: 100%;
}

.conversation {
    flex: 1;
    overflow: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-behavior: smooth;
}

#welcome {
    transition: opacity 0.5s ease;
}

#welcome.hidden {
    opacity: 0;
    pointer-events: none;
}

.input-bar {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #405d27;
    background: transparent;
    height: 60px;
    margin-bottom: 40px;
}

.input-bar input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #405d27;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}

.input-bar button {
    padding: 12px 20px;
    background-color: #8aa277;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.input-bar button:hover {
    background-color: #405d27;
}

.message {
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
    word-wrap: break-word;
    color: white;
}

.message.question {
    align-self: flex-end;
    background-color: #405d27;
    text-align: right;
}

.message.answer {
    align-self: flex-start;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.valiated.answer {
    align-self: flex-start;
    background-color: rgba(79, 247, 169, 0.377);
    text-align: left;
}